.DS_Store
*.xcodeproj/xcuserdata
*.xcodeproj/project.xcworkspace/xcuserdata
*.xcodeproj/project.xcworkspace/xcshareddata

*.vseproj/Debug
*.vseproj/Release
*.vseproj/*.vcxproj.user

*.eclipseproj/Debug
*.eclipseproj/Release

*.blocksproj/bin
*.blocksproj/obj

CMakeFiles
Testing
CMakeCache.txt
MakeFile
CTestTestfile.cmake
cmake_install.cmake
install_manifest.txt

cleanupCMake.sh

glfw-skeleton

