.DS_Store
*.xcodeproj/xcuserdata
*.xcodeproj/project.xcworkspace/xcuserdata
*.xcodeproj/project.xcworkspace/xcshareddata

*.vseproj/Debug
*.vseproj/Release
*.vseproj/*.vcxproj.user

*.eclipseproj/Debug
*.eclipseproj/Release

*.blocksproj/bin
*.blocksproj/obj

CMakeCache.txt
CMakeFiles
MakeFile
cleanupCMake.sh
cmake_install.cmake
install_manifest.txt

glfw-skeleton
glfw-skeleton.exe
