[submodule "glfw"]
    path = lib/glfw
    url = https://github.com/glfw/glfw.git
    ignore = dirty
[submodule "bandit"]
    path = lib/bandit
    url = https://github.com/joakimkarlsson/bandit.git
    ignore = dirty
[submodule "glm"]
    path = lib/glm
    url = https://github.com/g-truc/glm.git
    ignore = dirty
[submodule "glew"]
    path = lib/glew
    url = https://github.com/PerlMint/glew-cmake.git
    ignore = dirty
[submodule "googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest.git
	ignore = dirty
[submodule "lib/easyloggingpp"]
	path = lib/easyloggingpp
	url = https://github.com/easylogging/easyloggingpp.git
