[submodule "glfw"]
    path = lib/glfw
    url = https://github.com/glfw/glfw.git
    ignore = dirty
[submodule "glm"]
    path = lib/glm
    url = https://github.com/g-truc/glm.git
    ignore = dirty
