language: cpp
compiler: gcc
before_install:
    - sudo add-apt-repository -y ppa:kubuntu-ppa/backports
    - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
    - sudo apt-get update -qq
install:
    - sudo apt-get -qq install gcc-4.9 g++-4.9
    - sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-4.9 80
    - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-4.9 80
    - sudo apt-get -qq install xorg-dev
    - sudo apt-get -qq install libglu1-mesa-dev
    - sudo apt-get -qq install cmake=2.8.12.2-0ubuntu1~ubuntu12.04.1~ppa2
before_script:
    - git submodule update --init --recursive
script: rake all
